# Laravel default ignores
/vendor
/node_modules

# Laravel storage folders (large/cache files)
 /storage/*.key
 /storage/app/public
 /storage/framework/*
 /storage/logs/*
 /public/storage

# Environment & config files
.env
.env.backup
.env.production
auth.json

# Build & temp files
/public/build
/public/hot
.phpunit.cache
.phpunit.result.cache
.phpactor.json

# IDE and editor settings
/.idea
/.vscode
/.fleet
/.zed
Homestead.json
Homestead.yaml

# Debug logs
npm-debug.log
yarn-error.log
.DS_Store
